<!DOCTYPE html>
<html>

<head>
    <title>Books</title>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/layout.css">

</head>

<body>
    <header>
        <h1> Best Books !</h1>
    </header>
    <main>
        <h2> Search Results </h2>
                <% books.forEach( (book) => { %>
                    <div class="bookdetails">
                    <p> ** Book Details ** </p><br>
                <img class="bookimage" src=<%=book.volumeInfo.imageLinks.thumbnail %><br>
                <p class="booktitle">Title : <%= book.volumeInfo.title %></p>
                <p class="bookauthor">Author : <%= book.volumeInfo.authors %></p>
                <p class="booktype"> ISBN : <%= book.volumeInfo.industryIdentifiers[0].type %></p>
                <p class="bookdescp">Book Description :<%= book.volumeInfo.description %></p>
                <form action="/selectbook" method="POST">
                <button class="selectbutton" type="submit"> Select This Book </button>
            </form>
                <br><br><br><br>
            </div>
                <% }); %>
        </main>
</body>

</html>