<!DOCTYPE html>
<html>

<head>
    <title>Books</title>
    <link rel="stylesheet" href="styles/base.css" />
</head>

<body>
    <main>
        <ul>
            <% books.forEach( (book) => { %>
            <li>Title : <%= book.volumeInfo.title %></li>
            <li>Author : <%= book.volumeInfo.authors %></li>
            <li>Book Type : <%= book.volumeInfo.industryIdentifiers[0].type %></li>
            <p> ** Book Image ** </p>
            <li><img src=<%=book.volumeInfo.imageLinks.thumbnail %></li>
            <li>Book Description : <%= book.volumeInfo.description %></li>
            <% }); %>
        </ul>
    </main>
</body>

</html>